{% extends "admin/change_list.html" %}
{% load static %}

<!-- Override extrahead to add Chart.js -->
{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    .ranges li {
        list-style: none !important;
    }
    .daterangepicker {
        background-color: var(--secondary);
    }
    .daterangepicker .ranges li:hover {
        background-color: var(--darkened-bg);
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        var ctx = document.getElementById('chart').getContext('2d');

        // parse chart data
        var chartData = JSON.parse(document.getElementById('chartData').textContent);

        // Parse the dates to JS
        chartData.forEach((d) => {
            d.x = new Date(d.date).toJSON().slice(0, 10);
        });

        // Render the chart
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                datasets: [{
                    label: 'total requests',
                    data: chartData,
                    backgroundColor: '#5eb4ef',
                }, ],
            },
            options: {
                responsive: true,
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day',
                            round: 'day',
                            displayFormats: {
                                day: 'MMM D',
                            },
                        },
                    }, ],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        },
                    }, ],
                },
            },
        });
    });
</script>

{{ chart_data|json_script:"chartData" }}

{% endblock %}

{% block content %}
<!-- Render the chart -->
<div style="width: 80%;">
    <canvas style="margin-bottom: 30px; width: 60%; height: 50%;" id="chart"></canvas>
</div>
<!-- Render the rest of the ChangeList view -->
{{ block.super }}
{% endblock %}
