COMPOSE_PROJECT_NAME=tomorrownow_gap
DJANGO_SETTINGS_MODULE=core.settings.dev
DJANGO_TAG=0.0.1
HTTP_PORT=80

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_EMAIL=admin@example.com

DATABASE_NAME=django
DATABASE_USERNAME=docker
DATABASE_PASSWORD=docker
DATABASE_HOST=db
DATABASE_PORT=5432

REDIS_HOST=redis
REDIS_PASSWORD=redis_password

RABBITMQ_HOST=rabbitmq
SENTRY_DSN=
INITIAL_FIXTURES=
PLUMBER_PORT=8282

# Minio Dev Variables
MINIO_AWS_ACCESS_KEY_ID=minio_tomorrownow
MINIO_AWS_SECRET_ACCESS_KEY=minio_tomorrownow
MINIO_AWS_ENDPOINT_URL=http://minio:9000/
MINIO_AWS_BUCKET_NAME=tomorrownow

# CBAM S3 Variables
CBAM_AWS_ACCESS_KEY_ID=minio_tomorrownow
CBAM_AWS_SECRET_ACCESS_KEY=minio_tomorrownow
CBAM_AWS_ENDPOINT_URL=
CBAM_AWS_BUCKET_NAME=tomorrownow
CBAM_AWS_DIR_PREFIX=
CBAM_AWS_REGION_NAME=

# SALIENT S3 Variables
SALIENT_AWS_ACCESS_KEY_ID=minio_tomorrownow
SALIENT_AWS_SECRET_ACCESS_KEY=minio_tomorrownow
SALIENT_AWS_ENDPOINT_URL=
SALIENT_AWS_BUCKET_NAME=tomorrownow
SALIENT_AWS_DIR_PREFIX=
SALIENT_AWS_REGION_NAME=

# API keys
TOMORROW_IO_API_KEY=
