Django==4.2.7

# Web APIs for Django
djangorestframework==3.14.0

# Geographic add-ons for Django Rest Framework
djangorestframework-gis==1.0

# CSV add-ons for Django Rest Framework
djangorestframework-csv==3.0.2

# Token
django-rest-knox==5.0.1

# Python HTTP library
requests==2.31.0

# The uWSGI server
uwsgi==2.0.23

# Use webpack to generate your static bundles without django's staticfiles or opaque wrappers.
django-webpack-loader==1.8.1

# Python client for Sentry (https://sentry.io)
sentry-sdk==1.33.0

# Implementation of per object permissions for Django.
django-guardian==2.4.0

# django-cleanup app automatically deletes files for FileField, ImageField and subclasses
django-cleanup==7.0.0

# Celery result backends for Django.
django-celery-results==2.5.0

# Translation for model field
django-modeltranslation==0.19.10

# psycopg2 - Python-PostgreSQL Database Adapter
# psycopg2-binary==2.9.3

# This extension enables you to store the periodic task schedule in the database.
django-celery-beat==2.5.0

#django storages
django-storages==1.14.2
django-storages[s3]

# Python client for Redis database and key-value store
redis==5.1.1

psycopg2-binary==2.9.9
# drf yasg
drf-yasg==1.21.7
# s3
s3fs==2024.9.0
# xarray and its dependencies
xarray==2024.9.0
netCDF4==1.7.1.post1
h5netcdf==1.3.0
scipy==1.14.0
regionmask==0.12.1
zarr==2.18.3
dask==2024.9.0

# Excel reader
pandas==2.2.3
openpyxl==3.1.5

# salient sdk
numpy==1.26.4
salientsdk==0.3.5

python-geohash==0.8.5

# api tracking
drf-api-tracking==1.8.4

# celery task monitoring
flower==1.2.0
django-revproxy==0.12.0
